/* General Layout */
.table-container {
  padding: 20px;
  font-family: 'Neo Sans Arabic', sans-serif;
}

/* Header Section */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Right Header: Button and Toggle */
.new-ticket-button {
  background-color: #8A74F9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-ticket-button:hover {
  background-color: #6A54F5;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  background-color: lightgray;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.toggle-knob {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
}

.toggle-knob.active {
  left: 20px;
  background-color: #8A74F9;
}

.toggle-label {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Left Header: Title, Search Bar, and Filters */
.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
}
.ticket-sales-title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-container input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: #8A74F9;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #6A54F5;
}

/* Filter Buttons */
.filter-button {
  background-color: #f4f4f4;
  border: none;
  margin-left: 10px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #e0e0e0;
}

/* Table Styling */
.p-table {
  width: 100%;
  font-family: 'Neo Sans Arabic';
}

th, td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #f0f0f0;
}


/* Styling for user info (avatar, name, and phone) */
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-name {
  font-weight: bold;
}

.user-phone {
  color: gray;
  font-size: 12px;
}
/* Avatar with initials */
.initials-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.custom-paginator-text {
  font-size: 14px;
  margin-right: 10px;
}

.custom-pagination-control {
  font-size: 14px;
}

.cinema-container {
  max-width: 150px; /* Adjust width as needed */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  cursor: pointer;
}

.cinema-container:hover::after {
  content: attr(title); /* Show full cinema name on hover */
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: normal;
  z-index: 10;
  max-width: 300px;
  word-wrap: break-word;
  display: block;
}

/* Ticket Information Container */
.ticket-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Ticket Icon Container */
.ticket-icon-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8A74F9; /* Match the theme color */
  border-radius: 5px;
  margin-right: 10px;
}

/* Ticket Icon */
.ticket-icon {
  color: white;
  font-size: 16px;
}

/* Ticket Details Container */
.ticket-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Ticket File Name */
.ticket-file-name {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Ticket File Info */
.ticket-file-info {
  font-size: 12px;
  color: gray;
}


.download-button {
  background-color: #8A74F9;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.p-table td, .p-table th {
  display: table-cell; /* Ensure cells are displayed */
  visibility: visible; /* Ensure cells are not hidden */
}

/* Styles for user info container */

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.initials-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

